.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 1;
  color:  #000000;
}

.logo{
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;
}
.header__link {
  padding-left: 10px;
  text-decoration: none;
  color:  #2f80ed;
}

.header__link:hover {
  color: orange;
}

.description {
  display: flex;
  justify-content: center;
  color:  #000000;
  margin-top: 100px;
}

.two-columns {
  width: 80%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns_brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color:  #2f80ed;
}

.two-columns_main-text{
  width: 80%;
  min-width: 784px;
}

.two-columns_paragraph{
  padding: 0;
  margin-bottom: 30px;
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns_paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns_span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #000000;
}

.section-title {
  width: 60%;
  margin: 100px auto 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 20px auto 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 100px;
  list-style: none;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
}

.table__text {
  margin-top: 20px auto 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.feynman {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  z-index: 1;
  color: #000000;
  min-height: 790px;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 0 0;
}

.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color:  #2f80ed;
}

.feynman__link:hover {
  color: orange;
}


.feynman__main-illustration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: -1;
}

.kaufman {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:  #1f1f1f;
  overflow: hidden;
  z-index: 1;
  padding-top: 90px;
}

.kaufman__section-title_theme_dark {
  color: #fff;
}

.kaufman__section-subtitle_theme_dark {
  color: #fff;
}

.table_theme_dark {
  margin: 0 auto 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  margin: 0 auto;
}


.table__text_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  flex-direction: row;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: contain;
  position: absolute;
  right: -210px;
  bottom: -150px;
  width: 877px;
  height: 877px;
  z-index: -1;
}

.footer {
  background-color:  #1f1f1f;
  padding-top: 60px;
  color: #fff;
  min-height: 350px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  width: 90%;
  padding-bottom: 40px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
  min-height: 250px;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links{
  margin: 0 0 16px;
  list-style-type: none;
  padding-left: 0;
  margin: 0 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
}

.footer__column-link:hover {
  color: orange;
}


.footer__social-icon{
  margin-right: 10px;
}
